*,
html {
    box-sizing: border-box;
    padding: 0;
    font-size: 16px;
    margin: 0;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#snake-grid {
    background-color: black;
    border: black 1px solid;
}

button {
    width: 12rem;
    height: 10rem;
    cursor: pointer;
}