*,
html {
    box-sizing: border-box;
    padding: 0;
    font-size: 16px;
    margin: 0;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
}

#snake-grid {
    background-color: lightgoldenrodyellow;
    border: black 1px solid;
}